version: '3'
services:
  fork:
    image: aztecprotocol/foundry:25f24e677a6a32a62512ad4f561995589ac2c7dc-${ARCH_TAG:-amd64}
    pull_policy: always
    entrypoint: 'anvil --silent -p 8545 --host 0.0.0.0 --chain-id 31337'
    ports:
      - 8545:8545

  end-to-end:
    image: aztecprotocol/end-to-end:${AZTEC_DOCKER_TAG:-latest}
    environment:
      BENCHMARK: 'true'
      LOG_LEVEL: ${LOG_LEVEL:-verbose}
      ETHEREUM_HOST: http://fork:8545
      L1_CHAIN_ID: 31337
      ARCHIVER_POLLING_INTERVAL_MS: 50
      P2P_BLOCK_CHECK_INTERVAL_MS: 50
      SEQ_TX_POLLING_INTERVAL_MS: 50
      WS_BLOCK_CHECK_INTERVAL_MS: 50
      PXE_BLOCK_POLLING_INTERVAL_MS: 50
      ARCHIVER_VIEM_POLLING_INTERVAL_MS: 500
      ENABLE_GAS: ${ENABLE_GAS:-''}
      JOB_NAME: ${JOB_NAME:-''}
      HARDWARE_CONCURRENCY: ${HARDWARE_CONCURRENCY:-}
    command: ${TEST:-./src/e2e_deploy_contract.test.ts}
    volumes:
      - ../log:/usr/src/yarn-project/end-to-end/log:rw
    depends_on:
      - fork
