services:
  fork:
    image: aztecprotocol/build:2.0
    entrypoint: 'anvil --silent -p 8545 --host 0.0.0.0 --chain-id 31337'
    environment:
      RAYON_NUM_THREADS: 1

  sandbox:
    image: aztecprotocol/build:2.0
    volumes:
      - ../../../:/root/aztec-packages
      - ${HOME}/.bb-crs:/root/.bb-crs
    working_dir: /root/aztec-packages/yarn-project/aztec
    command: 'node ./dest/bin start --sandbox'
    environment:
      LOG_LEVEL: ${LOG_LEVEL:-verbose}
      ETHEREUM_HOST: http://fork:8545
      L1_CHAIN_ID: 31337
      ARCHIVER_POLLING_INTERVAL_MS: 500
      P2P_BLOCK_CHECK_INTERVAL_MS: 500
      SEQ_TX_POLLING_INTERVAL_MS: 500
      WS_BLOCK_CHECK_INTERVAL_MS: 500
      ARCHIVER_VIEM_POLLING_INTERVAL_MS: 500
      SEQ_BLOB_SINK_URL: http://blob-sink:${BLOB_SINK_PORT:-5052}
      ENABLE_GAS: ${ENABLE_GAS:-}
      HARDWARE_CONCURRENCY: ${HARDWARE_CONCURRENCY:-}

  blob-sink:
    image: aztecprotocol/blob-sink
    environment:
      PORT: ${BLOB_SINK_PORT:-5052}
      DEBUG: 'aztec:*'
      DEBUG_COLORS: 1

  end-to-end:
    image: aztecprotocol/build:2.0
    volumes:
      - ../../../:/root/aztec-packages
      - ${HOME}/.bb-crs:/root/.bb-crs
    tmpfs:
      - /tmp:rw,size=1g
      - /tmp-jest:rw,size=512m
    working_dir: /root/aztec-packages/yarn-project/end-to-end
    environment:
      JEST_CACHE_DIR: /tmp-jest
      BENCHMARK: 'true'
      LOG_LEVEL: ${LOG_LEVEL:-verbose}
      ETHEREUM_HOST: http://fork:8545
      L1_CHAIN_ID: 31337
      PXE_URL: http://sandbox:8080
      AZTEC_NODE_URL: http://sandbox:8080
    # Voodoo explanation.
    # Why do we do all this? To ensure tests can have their own traps for cleanup. Namely up_quick_start...
    # Propagating the signal (e.g. via exec) isn't much use, as jest provides no mechanism for cleanup on signals.
    # Better would be just to have no state...
    #
    # We wait for the sandbox to become live.
    # We launch the test in the background and capture it's process id.
    # We launch it using setsid, which will ensure the test and all subprocesses have their own process group id.
    # We set a trap to handle SIGTERM (comes from docker-compose when it receives e.g. SIGINT).
    # For the trap to execute the script needs to have control, hence the test is launched in the background.
    # We get the "process group id" from the process id.
    # The trap sends a SIGTERM to the process group, we negate the process group id to let kill know its a group id.
    # We wait on the entire process group to complete to allow cleanup to happen. (kill -0 just checks for existence).
    # We wait on the direct test pid, to ensure we propagate the exit code to docker.
    # There's a lot of doubling of $'s to escape dockers string interpolation.
    entrypoint: >
      bash -c '
        while ! nc -z sandbox 8080; do sleep 1; done;
        setsid ./scripts/test_simple.sh ${TEST:-./src/e2e_deploy_contract.test.ts} &
        pid=$$!
        pgid=$$(($$(ps -o pgid= -p $$pid)))
        trap "kill -SIGTERM -$$pgid" SIGTERM
        while kill -0 -$$pgid 2>/dev/null; do sleep 0.1; done
        wait $$pid
      '
    depends_on:
      - sandbox
      - fork
