IdentityFile ~/.ssh/build_instance_key
StrictHostKeyChecking no

Host build-instance-x86
  HostName 18.191.162.117
  User ubuntu
  ControlMaster auto
  ControlPath ~/.ssh/%r@%h-%p
  ControlPersist 600

Host build-instance-arm
  HostName 3.14.251.242
  User ubuntu
  ControlMaster auto
  ControlPath ~/.ssh/%r@%h-%p
  ControlPersist 600