# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.

# - Use GITHUB_REPOSITORY environment variable to provide the GitHub repository and its owner as a context in the script. 
# Use format "owner/repo".
GITHUB_REPOSITORY=YOUR_ORG/YOUR_REPO
GITHUB_RUN_ID=SomeExampleValue

INPUT_AWS_ACCESS_KEY_ID=
INPUT_AWS_SECRET_ACCESS_KEY=
INPUT_AWS_IAM_ROLE_ARN=
INPUT_GITHUB_TOKEN=
INPUT_GITHUB_ACTION_RUNNER_VERSION=
INPUT_GITHUB_ACTION_RUNNER_LABEL=
INPUT_EC2_INSTANCE_TYPE=
INPUT_EC2_AMI_ID=
INPUT_EC2_INSTANCE_IAM_ROLE=
INPUT_EC2_INSTANCE_TAGS=
INPUT_EC2_INSTANCE_TTL=
INPUT_EC2_SECURITY_GROUP_ID=
INPUT_EC2_SUBNET_ID=
INPUT_EC2_SPOT_INSTANCE_STRATEGY=