*.tgz
!terraform/modules/web3signer/web3signer-1.0.6.tgz
!terraform/deploy-external-secrets/external-secrets-*.tgz
scripts/kubectl
scripts/logs
scripts/LICENSE
tfplan
*_override.tf
mnemonic.tmp
environments/*
!environments/network-defaults.yml
!environments/prove-n-tps-fake.env
!environments/prove-n-tps-real.env
!environments/ten-tps-short-epoch.env
!environments/ten-tps-long-epoch.env
!environments/five-tps-short-epoch.env
!environments/five-tps-long-epoch.env
!environments/devnet-next.env
!environments/devnet.env
!environments/block-capacity.env
!environments/next-net.env
!environments/next-net-clone.env
!environments/next-scenario.env
!environments/scenario.local.env
!environments/source-env.sh
!environments/staging-public.env
!environments/staging-internal.env
!environments/testnet-canary.env
!environments/testnet.env
!environments/testnet-v4.env
!environments/mainnet.env
!environments/mainnet-v4.env
!environments/tps-scenario.env
!environments/kind-minimal.env
!environments/kind-provers.env
!environments/alpha-net.env
!environments/mbps-pipeline.env
!environments/bench-10tps.env
!environments/bench-inclusion-sweep.env
*.tfvars
!terraform/deploy-external-secrets/*.tfvars
!terraform/deploy-rpc/modules/environment/alloy-*.tgz
