*.tgz
!terraform/modules/web3signer/web3signer-1.0.6.tgz
!terraform/deploy-external-secrets/external-secrets-*.tgz
scripts/kubectl
scripts/logs
scripts/LICENSE
tfplan
*_override.tf
mnemonic.tmp
environments/*
!environments/network-defaults.yml
!environments/networks/
!environments/networks/*.yml
!environments/source-env.sh
*.tfvars
!terraform/deploy-external-secrets/*.tfvars
