dest
node_modules
.cache
.pnp.cjs
.pnp.loader.mjs
build/
.idea
cmake-build-debug
.terraform*
terraform.tfstate*
.bootstrapped
.tsbuildinfo
bench-out

# Local Netlify folder
.netlify

.graphite*
.DS_Store

# tmux
tmux-client-*.log
.supermavenignore

# parallel
joblog.txt

docs/.yarn/install-state.gz
docs/docs/protocol-specs/public-vm/gen/
