[submodule "legacy-barretenberg-build-system"]
	path = circuits/cpp/barretenberg/build-system
	url = https://github.com/AztecProtocol/build-system
[submodule "circuits/cpp/barretenberg/sol/lib/solidity-stringutils"]
	path = circuits/cpp/barretenberg/sol/lib/solidity-stringutils
	url = https://github.com/Arachnid/solidity-stringutils
