/.devcontainer/ @charlielye
/.github/ @charlielye
/build-images/ @charlielye
/ci3/ @charlielye

# The labs submodule, its patch series and the scripts that drive it
/labs @ludamad
/labs-patches/ @ludamad
/scripts/labs_* @ludamad

# Notify the Noir team of divergences to upstream
/noir/noir-repo.patch @TomAFrench

#####################################################
# Notify the AVM team
#
# on changes to PIL code-generator
/bb-pilcom @MirandaWood @jeanmon @IlyasRidhuan
# on changes to PIL code (AVM circuit)
/barretenberg/cpp/pil @MirandaWood @jeanmon @IlyasRidhuan
# on changes to AVM C++ code
/barretenberg/cpp/src/barretenberg/vm2 @MirandaWood @jeanmon @IlyasRidhuan
# on changes to the AVM transpiler
/avm-transpiler/src @MirandaWood @jeanmon @IlyasRidhuan @sirasistant
#####################################################

# Notify turtles of changes to L1-contracts
/l1-contracts/src @just-mitch

# Notify the circuit team of changes to the protocol circuits
/noir-projects/fnd/noir-protocol-circuits @LeilaWang
