/.devcontainer/ @charlielye
/.github/ @charlielye
/aztec-up/ @charlielye
/release-image/ @charlielye
/build-images/ @charlielye
/ci3/ @charlielye

#####################################################
# Notify the AVM team
#
# on changes to public context in aztec-nr
/noir-projects/labs/aztec-nr/aztec/src/context/public_context.nr @MirandaWood @jeanmon @IlyasRidhuan
# on changes to the AVM simulator and supporting modules
/yarn-project/simulator/src/public @MirandaWood @jeanmon @IlyasRidhuan
#####################################################

# Notify fairies of changes to playground bundler config
/playground/vite.config.ts @Thunkar

# Notify nventuro of changes to aztec-nr
/noir-projects/labs/aztec-nr @nventuro

# Notify devrel of changes to docs examples
/docs/examples @AztecProtocol/devrel
