services:
  ethereum:
    image: aztecprotocol/build:2.0
    entrypoint: >
      sh -c '
        exec anvil --silent -p 8545 --host 0.0.0.0 --chain-id 31337
      '
    environment:
      RAYON_NUM_THREADS: 1
    volumes:
      - ../:/root/aztec-packages

  aztec:
    image: aztecprotocol/build:2.0
    tty: true
    volumes:
      - ../:/root/aztec-packages
    working_dir: /root/aztec-packages/yarn-project/aztec
    command: "node ./dest/bin start --sandbox"
    environment:
      ETHEREUM_HOST: http://ethereum:8545
      L1_CHAIN_ID: 31337
      ARCHIVER_POLLING_INTERVAL_MS: 50
      P2P_BLOCK_CHECK_INTERVAL_MS: 50
      SEQ_TX_POLLING_INTERVAL_MS: 50
      WS_BLOCK_CHECK_INTERVAL_MS: 50
      ARCHIVER_VIEM_POLLING_INTERVAL_MS: 500
    healthcheck:
      test: ["CMD", "curl", "-fSs", "http://127.0.0.1:8080/status"]
      interval: 3s
      timeout: 30s
      start_period: 120s
    depends_on:
      - ethereum

  boxes:
    image: aztecprotocol/build:2.0
    tty: true
    volumes:
      - ../:/root/aztec-packages
    working_dir: /root/aztec-packages/boxes
    entrypoint: >
      sh -c '
        yarn workspace @aztec/$$BOX test --project=$$BROWSER
      '
    environment:
      DEBUG: "aztec:*"
      DEBUG_COLORS: "true"
      ETHEREUM_HOST: http://ethereum:8545
      L1_CHAIN_ID: 31337
      PXE_URL: http://aztec:8080
      BOX: ${BOX:-vanilla}
      CI: ${CI:-}
      BROWSER: ${BROWSER:-chromium}
    depends_on:
      aztec:
        condition: service_healthy
