apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-env
  labels:
    {{- include "chart.labels" . | nindent 4 }}
data:
  VALIDATORS_PER_NODE: {{ .Values.validator.validatorsPerNode | quote }}
