.yarn
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks
!/.yarn/versions

*/data*
**/dest
**/node_modules
**/artifacts
**/Dockerfile*
**/*.tsbuildinfo
**/codegenCache.json

noir-contracts.js/src
noir-protocol-circuits-types/src/target
noir-protocol-circuits-types/src/types