**/dest
**/dist
**/node_modules
**/.cache
.env*
*.log
*.swp
**/.tsbuildinfo
**/tsconfig.tsbuildinfo
**/.eslintcache
**/target
**/.debounce-*
**/.tsc.pid
**/*.result
sdk/accounts/artifacts
sdk/aztec.js/src/contract/protocol_contracts
aztec-node/data*
aztec/log
stdlib/fixtures/*.json
stdlib/src/test/artifacts
docs/dist
end-to-end/addresses.json
end-to-end/flame_graph
end-to-end/log
end-to-end/data
end-to-end/src/web/*.gz
end-to-end/src/web/*.mjs
end-to-end/src/web/*.mjs.LICENSE.txt
l1-artifacts/generated
l1-contracts/generated
sdk/builder/target/
sdk/builder/noir-protocol-circuits-types/.gitignore wow
sdk/builder/proofs/
sdk/builder/Prover.toml
sdk/builder/Verifier.toml
sdk/builder/src/target
sdk/builder/src/crs
sdk/builder/src/types
noir-protocol-circuits-types/artifacts
noir-protocol-circuits-types/src/private_kernel_reset_data.ts
noir-protocol-circuits-types/src/private_kernel_reset_vks.ts
noir-protocol-circuits-types/src/private_kernel_reset_types.ts
noir-protocol-circuits-types/src/client_artifacts_helper.ts
noir-protocol-circuits-types/src/vk_tree.ts
noir-protocol-circuits-types/src/types/
ivc-integration/artifacts
ivc-integration/src/types/
protocol-contracts/artifacts
protocol-contracts/src/protocol_contract_data.ts
sdk/standard-contracts/artifacts
scripts/tmp
sdk/noir-contracts.js/src
sdk/noir-contracts.js/artifacts/
sdk/noir-contracts.js/codegenCache.json
sdk/noir-test-contracts.js/src
sdk/noir-test-contracts.js/artifacts/
sdk/noir-test-contracts.js/codegenCache.json
types/fixtures/*.json
test-wallet/artifacts
sdk/cli-wallet/test/data
cli/src/config/generated
ethereum/src/generated
slasher/src/generated
simulator/src/public/cdb/generated

.claude/settings.local.json
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
