.yarn
node_modules/
dest/
noir-contracts/**/*.json
starter-kits/*/src/artifacts/*.json
starter-kits/*/src/artifacts/*.ts
starter-kits/*/src/contracts/target/*.json
noir-protocol-circuits/src/target/*.json
*.md
