.yarn
node_modules/
dest/
noir-contracts.js/**/*.json
noir-contracts.js/src
noir-test-contracts.js/**/*.json
noir-test-contracts.js/src
noir-protocol-circuits-types/src/target/*
*.md
end-to-end/src/fixtures/dumps/*.json
end-to-end/src/web/main.js
l1-artifacts/src
ivc-integration/src/types/index.ts
protocol-contracts/src/protocol_contract_data.ts
noir-protocol-circuits-types/src/types/index.ts
noir-protocol-circuits-types/src/private_kernel_reset_data.ts
noir-protocol-circuits-types/src/private_kernel_reset_types.ts
noir-protocol-circuits-types/src/private_kernel_reset_vks.ts
noir-protocol-circuits-types/src/vk_tree.ts
noir-protocol-circuits-types/src/client_artifacts_helper.ts
constants/src/constants.gen.ts
noir-bb-bench/src/types/index.ts
