{
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true
    },
    "experimental": { "keepImportAttributes": true }
  },
  "module": {
    "type": "es6"
  }
}
