apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "aztec-network.fullname" . }}-scripts
  labels:
    {{- include "aztec-network.labels" . | nindent 4 }}
data:
  setup-service-addresses.sh: |
    {{ .Files.Get "files/config/setup-service-addresses.sh" | nindent 4 }}
  setup-prover-keystore.sh: |
    {{ .Files.Get "files/config/setup-prover-keystore.sh" | nindent 4 }}
  setup-attester-keystore.sh: |
    {{ .Files.Get "files/config/setup-attester-keystore.sh" | nindent 4 }}
  setup-p2p-addresses.sh: |
    {{ .Files.Get "files/config/setup-p2p-addresses.sh" | nindent 4 }}
  configure-full-node-env.sh: |
    {{ .Files.Get "files/config/config-full-node-env.sh" | nindent 4 }}
  configure-prover-env.sh: |
    {{ .Files.Get "files/config/config-prover-env.sh" | nindent 4 }}
  deploy-l1-contracts.sh: |
    {{ .Files.Get "files/config/deploy-l1-contracts.sh" | nindent 4 }}
  get-private-key.sh: |
    {{ .Files.Get "files/config/get-private-key.sh" | nindent 4 }}
  get-validator-addresses.sh: |
    {{ .Files.Get "files/config/get-validator-addresses.sh" | nindent 4 }}
  consolidate-sepolia-balances.sh: |
    {{ .Files.Get "files/cleanup/consolidate-sepolia-balances.sh" | nindent 4 }}
  setup-otel-resource.sh: |
    {{ .Files.Get "files/config/setup-otel-resource.sh" | nindent 4 }}
