network:
  public: false
  enableBots: true

images:
  aztec:
    image: aztecprotocol/aztec
    pullPolicy: IfNotPresent
  curl:
    image: curlimages/curl:7.81.0
    pullPolicy: IfNotPresent
  foundry:
    image: ghcr.io/foundry-rs/foundry@sha256:ce4b236f6760fdeb08e82267c9fa17647d29a374760bfe7ee01998fb8c0aaad7
    pullPolicy: IfNotPresent

bootNode:
  replicas: 1
  service:
    p2pPort: 40400
    nodePort: 8080
  logLevel: "debug"
  debug: "aztec:*,-aztec:avm_simulator*,-aztec:libp2p_service*,-aztec:circuits:artifact_hash,-json-rpc*"
  sequencer:
    maxSecondsBetweenBlocks: 0
    minTxsPerBlock: 1
  validator:
    disabled: true
  p2p:
    enabled: "true"
  resources:
    requests:
      memory: "2Gi"
      cpu: "200m"
    limits:
      memory: "4Gi"
      cpu: "4"
  storage: "8Gi"

validator:
  replicas: 0
  service:
    p2pPort: 40400
    nodePort: 8080
  logLevel: "debug"
  debug: "aztec:*,-aztec:avm_simulator*,-aztec:libp2p_service*,-aztec:circuits:artifact_hash,-json-rpc*"
  sequencer:
    maxSecondsBetweenBlocks: 0
    minTxsPerBlock: 1
  validator:
    disabled: false
  p2p:
    enabled: "true"
  resources:
    requests:
      memory: "2Gi"
      cpu: "200m"
    limits:
      memory: "28Gi"
      cpu: "7"
  storage: "8Gi"

proverNode:
  replicas: 1
  service:
    nodePort: 8080
  logLevel: "debug"
  debug: "aztec:*,-aztec:avm_simulator*,-aztec:libp2p_service*,-aztec:circuits:artifact_hash,-json-rpc*"
  realProofs: false
  proverAgentEnabled: true
  resources:
    requests:
      memory: "2Gi"
      cpu: "200m"
    limits:
      memory: "120Gi"
      cpu: "15"
  storage: "8Gi"

pxe:
  logLevel: "debug"
  debug: "aztec:*,-aztec:avm_simulator*,-aztec:libp2p_service*,-aztec:circuits:artifact_hash,-json-rpc*"
  replicas: 1
  service:
    port: 8080
    targetPort: 8080
  readinessProbe:
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3
  resources:
    requests:
      memory: "2Gi"
      cpu: "200m"
    limits:
      memory: "4Gi"
      cpu: "1"

bot:
  logLevel: "debug"
  debug: "aztec:*,-aztec:avm_simulator*,-aztec:libp2p_service*,-aztec:circuits:artifact_hash,-json-rpc*"
  replicas: 1
  botPrivateKey: "0xcafe"
  txIntervalSeconds: 5
  privateTransfersPerTx: 1
  publicTransfersPerTx: 0
  noWaitForTransfers: true
  botNoStart: false
  pxeProverEnabled: false
  proverRealProofs: false
  service:
    type: ClusterIP
    port: 8080
    targetPort: 8080
  readinessProbe:
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3
  resources:
    requests:
      memory: "2Gi"
      cpu: "200m"
    limits:
      memory: "4Gi"
      cpu: "1"

ethereum:
  replicas: 1
  chainId: 31337
  blockTime: 12
  # 1 billion gas limit
  # helps ensure we can deploy public contracts
  gasLimit: "1000000000"
  forkUrl: ""
  forkBlockNumber: ""
  args: ""
  service:
    type: ClusterIP
    port: 8545
    targetPort: 8545
  readinessProbe:
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3
  resources:
    requests:
      memory: "2Gi"
      cpu: "200m"
    limits:
      memory: "4Gi"
      cpu: "1"
