nameOverride: ""
fullnameOverride: ""

network:
  public: false
  setupL2Contracts: true

telemetry:
  enabled: false
  otelCollectorEndpoint:

images:
  aztec:
    image: aztecprotocol/aztec
    pullPolicy: IfNotPresent
  curl:
    image: curlimages/curl:7.81.0
    pullPolicy: IfNotPresent
  foundry:
    image: ghcr.io/foundry-rs/foundry@sha256:ce4b236f6760fdeb08e82267c9fa17647d29a374760bfe7ee01998fb8c0aaad7
    pullPolicy: IfNotPresent

bootNode:
  external: false
  externalTcpHost: ""
  externalUdpHost: ""
  replicas: 1
  service:
    p2pTcpPort: 40400
    p2pUdpPort: 40400
    nodePort: 8080
  logLevel: "debug"
  debug: "aztec:*,-aztec:avm_simulator*,-aztec:libp2p_service*,-aztec:circuits:artifact_hash,-json-rpc*,-aztec:world-state:database,-aztec:l2_block_stream*"
  coinbaseAddress: "0xaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
  sequencer:
    maxSecondsBetweenBlocks: 0
    minTxsPerBlock: 1
  validator:
    disabled: true
  p2p:
    enabled: "true"
  resources:
    requests:
      memory: "2Gi"
      cpu: "200m"
  deployContracts: true # Set to false to use manual contract addresses
  startupProbe:
    periodSeconds: 10
    # Only if we fail for 20 minutes straight do we call it botched
    # This gives enough time to sync
    failureThreshold: 120
  contracts:
    rollupAddress: ""
    registryAddress: ""
    inboxAddress: ""
    outboxAddress: ""
    feeJuiceAddress: ""
    feeJuicePortalAddress: ""
  storage: "8Gi"

validator:
  external: false
  externalTcpHost: ""
  externalUdpHost: ""
  replicas: 1
  validatorKeys:
    - 0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
  validatorAddresses:
    - 0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
  service:
    p2pTcpPort: 40400
    p2pUdpPort: 40400
    nodePort: 8080
  logLevel: "debug"
  debug: "aztec:*,-aztec:avm_simulator*,-aztec:libp2p_service*,-aztec:circuits:artifact_hash,-json-rpc*,-aztec:world-state:database,-aztec:l2_block_stream*"
  sequencer:
    maxSecondsBetweenBlocks: 0
    minTxsPerBlock: 1
  validator:
    disabled: false
  p2p:
    enabled: "true"
  startupProbe:
    periodSeconds: 10
    # Only if we fail for 20 minutes straight do we call it botched
    # This gives enough time to sync
    failureThreshold: 120
  resources:
    requests:
      memory: "2Gi"
      cpu: "200m"
  storage: "8Gi"

proverNode:
  external: false
  externalTcpHost: ""
  externalUdpHost: ""
  replicas: 1
  p2pEnabled: true
  service:
    p2pTcpPort: 40400
    p2pUdpPort: 40400
    nodePort: 8080
  logLevel: "debug"
  debug: "aztec:*,-aztec:avm_simulator*,-aztec:libp2p_service*,-aztec:circuits:artifact_hash,-json-rpc*,-aztec:world-state:database,-aztec:l2_block_stream*"
  realProofs: false
  proverAgentEnabled: false
  resources:
    requests:
      memory: "2Gi"
      cpu: "200m"
  storage: "8Gi"

pxe:
  external: false
  externalHost: ""
  logLevel: "debug"
  debug: "aztec:*,-aztec:avm_simulator*,-aztec:libp2p_service*,-aztec:circuits:artifact_hash,-json-rpc*,-aztec:l2_block_stream,-aztec:world-state:database"
  replicas: 1
  service:
    port: 8080
    targetPort: 8080
    nodePort: ""
  readinessProbe:
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3
  resources:
    requests:
      memory: "2Gi"
      cpu: "200m"

bot:
  enabled: true
  logLevel: "debug"
  debug: "aztec:*,-aztec:avm_simulator*,-aztec:libp2p_service*,-aztec:circuits:artifact_hash,-json-rpc*,-aztec:l2_block_stream,-aztec:world-state:database"
  replicas: 1
  botPrivateKey: "0xcafe"
  txIntervalSeconds: 24
  privateTransfersPerTx: 0
  publicTransfersPerTx: 1
  # Do not wait for transactions
  followChain: "NONE"
  botNoStart: false
  pxeProverEnabled: false
  proverRealProofs: false
  service:
    type: ClusterIP
    port: 8080
    targetPort: 8080
    nodePort: ""
  readinessProbe:
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3
  resources:
    requests:
      memory: "2Gi"
      cpu: "200m"

ethereum:
  external: false
  externalHost: ""
  replicas: 1
  chainId: 31337
  blockTime: 12
  # 1 billion gas limit
  # helps ensure we can deploy public contracts
  gasLimit: "1000000000"
  forkUrl: ""
  forkBlockNumber: ""
  args: ""
  service:
    type: ClusterIP
    port: 8545
    targetPort: 8545
    nodePort: ""
  readinessProbe:
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3
  resources:
    requests:
      memory: "2Gi"
      cpu: "200m"
  storage: "8Gi"

proverAgent:
  enabled: true
  replicas: 1
  debug: "aztec:*,-aztec:avm_simulator*,-aztec:libp2p_service*,-aztec:circuits:artifact_hash,-json-rpc*,-aztec:world-state:database,-aztec:l2_block_stream*"
  realProofs: false
  concurrency: 1
  bb:
    hardwareConcurrency: ""

jobs:
  deployL1Verifier:
    enable: false
