nameOverride: ""
fullnameOverride: ""

network:
  # If true, pods will use host networking.
  # This is to ensure that nodes are individually addressable from the outside.
  # Under the current configuration, this also means that there must be a unique
  # physical node in the cluster for each pod that participates in peer-to-peer.
  # I.e. the sum of the number of validator, boot node, and prover nodes must be
  # less than the number of physical nodes in the cluster.
  public: false

  # If true, pods are scheduled onto specific node pools using selectors
  # This is only applicable to GKE deployments
  gke: false

  # If true then configured bootnodes are considered non-gossiping peers
  p2pBootstrapNodesAsFullPeers: true

  mempoolLimitBytes: "100000000" # approx 100MB

blobs:
  remoteBlobSinkUrl: ""
  remoteBlobSinkEnabled: false

storage:
  localSsd: false
  dataStoreMapSize: "134217728" # 128 GB
  worldStateMapSize: "134217728" # 128 GB

telemetry:
  enabled: false
  otelCollectorEndpoint:
  useGcloudLogging: true
  excludeMetrics: ""

snapshots:
  uploadLocation:
  syncUrl:
  frequency:

images:
  aztec:
    image: aztecprotocol/aztec
    pullPolicy: IfNotPresent
  curl:
    image: curlimages/curl:7.81.0
    pullPolicy: IfNotPresent
  reth:
    image: ghcr.io/paradigmxyz/reth:v1.0.8
    pullPolicy: IfNotPresent
  lighthouse:
    image: sigp/lighthouse:v6.0.1
    pullPolicy: IfNotPresent

aztec:
  bootstrapENRs: ""
  contracts:
    registryAddress: ""
    slashFactoryAddress: ""
    feeAssetHandlerContractAddress: ""

  slotDuration: 36 # in seconds, aka L2 slot duration. Must be a multiple of {{ ethereum.blockTime }}
  epochDuration: 32 # how many L2 slots in an epoch
  proofSubmissionWindow: 64 # in L2 slots, from the start of the epoch to be proven
  realProofs: false

  l1Salt: "" # leave empty for random salt
  testAccounts: true
  sponsoredFPC: false
  l1DeploymentMnemonic: "test test test test test test test test test test test junk" # the mnemonic used when deploying contracts
  manaTarget: "" # use default value

  # The derivation path of the calcualted private keys
  # Starting from this index, the number of keys is equal to the number of replicas for the given service
  # Default accounts start at 0, and are used by the boot node to deploy the system contracts
  numberOfDefaultAccounts: 10
  proverKeyIndexStart: 1000
  validatorKeyIndexStart: 2000
  botKeyIndexStart: 3000
  slasherKeyIndexStart: 3500
  extraAccountsStartIndex: 4000
  ## The number of extra accounts to prefund
  extraAccounts: 10

  slash:
    payloadTtlSeconds: "86400"
    pruneEnabled: false
    prunePenalty: "1"
    pruneMaxPenalty: "100"
    inactivityEnabled: false
    inactivityCreateTargetPercentage: 0.9
    inactivitySignalTargetPercentage: 0.6
    inactivityCreatePenalty: "1"
    inactivityMaxPenalty: "100"
    invalidBlockEnabled: false
    invalidBlockPenalty: "1"
    invalidBlockMaxPenalty: "100"

bootNode:
  enabled: true
  peerIdPrivateKey: ""
  externalHost: ""
  replicas: 1
  service:
    p2pPort: 40400
    nodePort: 8080
  logLevel: "debug; info: aztec:simulator, json-rpc"
  p2p:
    enabled: "true"
    floodPublish: true
  maxOldSpaceSize: "4608"
  deployContracts: true # Set to false to use manual contract addresses
  startupProbe:
    periodSeconds: 10
    # Only if we fail for 20 minutes straight do we call it botched
    # This gives enough time to sync
    failureThreshold: 120
  contracts:
    registryAddress: ""
    inboxAddress: ""
    outboxAddress: ""
    feeJuiceAddress: ""
    feeJuicePortalAddress: ""
  archiverPollingInterval: 1000
  archiverViemPollingInterval: 1000
  viemPollingInterval: 1000
  stakingAssetAddress: ""
  storageSize: "1Gi"
  dataDir: "/data"

fullNode:
  peerIdPrivateKey: ""
  externalHost: ""
  replicas: 1
  service:
    p2pPort: 40400
    nodePort: 8080
    adminPort: 8880
  logLevel: "debug; info: aztec:simulator, json-rpc"
  p2p:
    enabled: "true"
    floodPublish: true
  maxOldSpaceSize: "4608"
  deployContracts: true # Set to false to use manual contract addresses
  startupProbe:
    periodSeconds: 10
    # Only if we fail for 20 minutes straight do we call it botched
    # This gives enough time to sync
    failureThreshold: 120
  contracts:
    rollupAddress: ""
    registryAddress: ""
    inboxAddress: ""
    outboxAddress: ""
    feeJuiceAddress: ""
    feeJuicePortalAddress: ""
  archiverPollingInterval: 1000
  archiverViemPollingInterval: 1000
  viemPollingInterval: 1000
  stakingAssetAddress: ""
  storageSize: "1Gi"
  dataDir: "/data"
  sentinelEnabled: false

validator:
  sentinelEnabled: false
  # If true, the validator will use its peers to serve as the boot node.
  # This cannot be used when the network first starts up.
  # But it must be used if the boot node is killed, and the validator is restarted.
  dynamicBootNode: false
  replicas: 1
  keysPerNode: 1
  service:
    p2pPort: 40400
    nodePort: 8080
  logLevel: "debug; info: aztec:simulator, json-rpc"
  sequencer:
    minTxsPerBlock: 0
    maxTxsPerBlock: 4
    enforceTimeTable: true
  validator:
    disabled: false
    reexecute: true
  p2p:
    enabled: "true"
    floodPublish: true
  startupProbe:
    periodSeconds: 10
    # Only if we fail for 20 minutes straight do we call it botched
    # This gives enough time to sync
    failureThreshold: 120
  maxOldSpaceSize: "4608"
  archiverPollingInterval: 1000
  archiverViemPollingInterval: 1000
  attestationPollingInterval: 1000
  viemPollingInterval: 1000
  storageSize: "1Gi"
  dataDir: "/data"
  l1GasPriceMax: 100
  l1FixedPriorityFeePerGas: ""
  l1GasLimitBufferPercentage: ""

proverNode:
  externalHost: ""
  replicas: 1
  p2p:
    enabled: true
    floodPublish: true
  service:
    p2pPort: 40400
    nodePort: 8080
  logLevel: "debug; info: aztec:simulator, json-rpc"
  proverAgent:
    count: 0
    pollIntervalMs: 1000
    proofTypes: []
  proverBroker:
    enabled: false
    jobTimeoutMs: 30000
    pollIntervalMs: 1000
    jobMaxRetries: 3
  maxOldSpaceSize: "4608"
  archiverPollingInterval: 1000
  archiverViemPollingInterval: 1000
  pollInterval: 1000
  viemPollingInterval: 1000
  dataDir: "/data"
  storageSize: "10Gi"
  txGathering:
    timeoutMs: 60000
    intervalMs: 1000
    maxParallelRequests: 100
  failedProofStore: "gs://aztec-develop/spartan/failed-proofs"
  failedEpochStore: ""
  l1GasPriceMax: 100
  l1FixedPriorityFeePerGas: ""
  l1GasLimitBufferPercentage: ""

pxe:
  enabled: true
  nodeUrl: ""
  logLevel: "debug; info: aztec:simulator, json-rpc"
  replicas: 1
  service:
    nodePort: 8081
  readinessProbe:
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3
  resources: {}

bot:
  enabled: true
  nodeUrl: ""
  logLevel: "debug; info: aztec:simulator, json-rpc"
  replicas: 1
  botPrivateKey: "0xcafe"
  txIntervalSeconds: 24
  privateTransfersPerTx: 0
  publicTransfersPerTx: 1
  # Do not wait for transactions
  followChain: "NONE"
  botNoStart: false
  feePaymentMethod: "fee_juice"
  ammTxs: false
  maxErrors: 3
  stopIfUnhealthy: true
  dataDir: "/data"
  storageSize: "2Gi"
  service:
    type: ClusterIP
    nodePort: 8082
  readinessProbe:
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3
  gke:
    spotEnabled: true
  maxOldSpaceSize: "4608"
  resources: {}

ethereum:
  acceleratedTestDeployments: false
  genesisBasePath: "out"
  replicas: 1
  chainId: 1337
  blockTime: 12
  # 1 billion gas limit
  # helps ensure we can deploy public contracts
  gasLimit: "1000000000"
  # 10 times the default of 131072
  maxTxInputSizeBytes: "1310720"
  args: ""
  execution:
    externalHosts: ""
    service:
      port: 8545
      targetPort: 8545
      wsPort: 8546
      wsTargetPort: 8546
    storageSize: "80Gi"
  beacon:
    externalHost: ""
    apiKey: ""
    apiKeyHeader: ""
    service:
      port: 5052
      targetPort: 5052
    storageSize: "80Gi"
  validator:
    storageSize: "80Gi"
  readinessProbe:
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 3
  deployL1ContractsPrivateKey:

proverAgent:
  service:
    nodePort: 8083
  enabled: true
  replicas: 1
  pollIntervalMs: 1000
  proofTypes: []
  testDelayType: "fixed"
  testDelayMs: 100 # each fake proof takes 100ms
  testDelayFactor: 1
  gke:
    spotEnabled: true
  logLevel: "debug; info: aztec:simulator, json-rpc"
  bb:
    hardwareConcurrency: ""
  maxOldSpaceSize: "4608"
  pollInterval: 200

proverBroker:
  service:
    nodePort: 8084
  enabled: true
  replicas: 1
  jobTimeoutMs: 30000
  pollIntervalMs: 1000
  jobMaxRetries: 3
  logLevel: "debug; info: aztec:simulator, json-rpc"
  storageSize: "1Gi"
  dataDir: "/data"
  maxOldSpaceSize: "4608"

jobs:
  deployL1Verifier:
    enable: false

blobSink:
  enabled: false
  logLevel: "debug; info: aztec:simulator, json-rpc"
  replicas: 1
  service:
    nodePort: 5052
  startupProbe:
    periodSeconds: 10
    failureThreshold: 120
  dataStoreConfig:
    dataDir: "/data"
    storageSize: "8Gi"
    dataStoreMapSize: "134217728" # 128 GB

faucet:
  enabled: true
  replicas: 1
  service:
    nodePort: 8085
  apiServerPort: 8086
  addressIndex: 0
  l1Assets: ""
  logLevel: ""
