apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-node-env
  labels:
    {{- include "chart.labels" . | nindent 4 }}
data:
  PROVER_BROKER_HOST: {{ printf "http://%s-broker.%s.svc.cluster.local:%d" .Release.Name .Release.Namespace (.Values.broker.service.httpPort | int) }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-agent-env
  labels:
    {{- include "chart.labels" . | nindent 4 }}
data:
  PROVER_BROKER_HOST: {{ printf "http://%s-broker.%s.svc.cluster.local:%d" .Release.Name .Release.Namespace (.Values.broker.service.httpPort | int) }}
---
