otelcol.receiver.otlp "irm_metrics" {
  http {
    endpoint = "0.0.0.0:4318"
  }

  output {
    metrics = [otelcol.exporter.prometheus.irm_metrics.input]
  }
}

otelcol.exporter.prometheus "irm_metrics" {
  forward_to                       = [prometheus.relabel.irm_metrics.receiver]
  add_metric_suffixes              = true
  include_scope_info               = false
  include_scope_labels             = false
  include_target_info              = false
  resource_to_telemetry_conversion = false
}

prometheus.relabel "irm_metrics" {
  forward_to = [prometheus.remote_write.grafana_cloud.receiver]

  rule {
    action        = "replace"
    source_labels = ["__name__"]
    regex         = ".*"
    target_label  = "job"
    replacement   = ${jsonencode(job_name)}
  }
}

prometheus.remote_write "grafana_cloud" {
  endpoint {
    url = ${jsonencode(remote_write_url)}

    basic_auth {
      username      = ${jsonencode(remote_write_username)}
      password_file = "/etc/alloy/secret/grafana-cloud-password"
    }
  }
}
