[[redirects]]
    from = "/guides/smart_contracts/writing_contracts/initializers"
    to = "/developers/guides/smart_contracts/writing_contracts/initializers"

[[redirects]]
    from = "/reference/aztecjs/accounts"
    to = "/developers/reference/aztecjs/accounts"

[[redirects]]
    from = "/getting_started"
    to = "/developers/getting_started"

[[redirects]]
    from = "/developers/getting_started/main"
    to = "/developers/getting_started"

[[redirects]]
    from = "guides/getting_started"
    to = "/developers/getting_started"

[[redirects]]
    from = "/tutorials/simple_dapp/*"
    to = "developers/tutorials/codealong/js_tutorials/simple_dapp"

[[redirects]]
    from = "/tutorials/contract_tutorials//token_bridge/typescript_glue_code"
    to = "/tutorials/codealong/contract_tutorials/token_bridge/typescript_glue_code"

[[redirects]]
    from = "/tutorials/contract_tutorials//token_bridge/withdrawing_to_l1"
    to = "/tutorials/codealong/contract_tutorials/token_bridge/withdrawing_to_l1"

[[redirects]]
    from = "/tutorials/contract_tutorials//token_bridge/minting_on_aztec"
    to = "/tutorials/codealong/contract_tutorials/token_bridge/minting_on_aztec"

[[redirects]]
    from = "/tutorials/contract_tutorials//token_bridge/depositing_to_aztec"
    to = "/tutorials/codealong/contract_tutorials/token_bridge/depositing_to_aztec"

[[redirects]]
    from = "/tutorials/contract_tutorials//token_bridge"
    to = "/tutorials/codealong/contract_tutorials/token_bridge"

[[redirects]]
    from = "/tutorials/contract_tutorials//token_bridge/setup"
    to = "/tutorials/codealong/contract_tutorials/token_bridge/setup"

[[redirects]]
    from = "/tutorials/contract_tutorials/crowdfunding_contract"
    to = "/tutorials/codealong/contract_tutorials/crowdfunding_contract"

[[redirects]]
    from = "/tutorials/contract_tutorials/private_voting_contract"
    to = "/tutorials/codealong/contract_tutorials/private_voting_contract"

[[redirects]]
    from = "/tutorials/contract_tutorials/token_contract"
    to = "/tutorials/codealong/contract_tutorials/token_contract"

[[redirects]]
    from = "/tutorials/*"
    to = "/tutorials/codealong/contract_tutorials/private_voting_contract"

[[redirects]]
    from = "/developers/tutorials/*"
    to = "/tutorials/codealong/contract_tutorials/private_voting_contract"

[[redirects]]
    from = "/developers/sandbox/*"
    to = "/developers/getting_started"

[[redirects]]
    from = "/developers/contracts/*"
    to = "/aztec/smart_contracts_overview"

[[redirects]]
    from = "/dev_docs/*"
    to = "/developers/getting_started"

[[redirects]]
    from = "/aztec/cryptography/cryptography-roadmap"
    to = "/aztec/roadmap/cryptography_roadmap"

[[redirects]]
    from = "/aztec/milestones/features-initial-ldt"
    to = "/aztec/roadmap/"

[[redirects]]
    from = "/learn/concepts/*"
    to = "/aztec/concepts/"

[[redirects]]
    from = "/noir"
    to = "/"

[[redirects]]
    from = "/misc/aztec-connect-sunset"
    to = "/aztec_connect_sunset"

[[redirects]]
    from= "zk-money/userguide"
    to= "/aztec_connect_sunset"

[[redirects]]
    from = "/how-aztec-works/*"
    to = "/"

[[redirects]]
    from = "/sdk/*"
    to = "/"

[[redirects]]
    from = "/developers/*"
    to = "/"

[[redirects]]
    from = "/spec/*"
    to = "/"

[[redirects]]
    from = "/compliance"
    to = "/"

[[redirects]]
    from = "/aztec/roadmap/engineering_roadmap"
    to = "/"

[[redirects]]
    from = "/aztec/roadmap/cryptography_roadmap"
    to = "/"

[[redirects]]
    from = "/protocol-specs/gas-and-fees/fee-payment-asset"
    to = "/protocol-specs/gas-and-fees/fee-juice"

[[redirects]]
    from = "/getting-started"
    to = "/"

[[redirects]]
    from = "/reference/sandbox_reference/sandbox-reference"
    to = "/developers/getting_started" 

[[redirects]]
    from = "/reference/sandbox_reference"
    to = "/developers/getting_started" 

[[redirects]]
    from = "/guides/getting_started/*"
    to = "/developers/getting_started/*" 

[[redirects]]
    from = "/guides/developer_guides/getting_started/quickstart"
    to = "/developers/getting_started" 
    
[[redirects]]
    from = "/aztec/concepts_overview"
    to = "/aztec" 

[[redirects]]
    from = "/aztec/concepts/accounts/authwit"
    to = "/aztec/concepts/advanced/authwit" 

[[redirects]]
    from = "/aztec/concepts/storage/storage_slots"
    to = "/aztec/concepts/advanced/storage/storage_slots" 

[[redirects]]
    from = "/aztec/concepts/storage/trees/*"
    to = "/aztec/concepts/advanced/storage/indexed_merkle_tree" 

[[redirects]]
    from = "/aztec/concepts/storage/partial_notes"
    to = "/aztec/concepts/advanced/storage/partial_notes" 

[[redirects]]
    from = "/aztec/concepts/circuits/*"
    to = "/aztec/concepts/advanced/circuits" 

[[redirects]]
    from = "/tutorials/*"
    to = "/developers/tutorials/*" 

[[redirects]]
    from = "/guides/*"
    to = "/developers/guides/*" 

[[redirects]]
    from = "/reference/*"
    to = "/developers/reference/*" 

[[redirects]]
    from = "/guides/privacy_considerations"
    to = "/developers/reference/considerations/privacy_considerations" 

[[redirects]]
    from = "/reference/developer_references/limitations"
    to = "/developers/reference/considerations/limitations"