# Instance-specific vars
AZTEC_PORT=8080         # Aztec port for rpc
L1_PRIVATE_KEY=0x...    # Can be same as VALIDATOR_PRIVATE_KEY
P2P_PORT=30303          # LibP2P (make available on WAN for best peering)
PEER_ID_PRIVATE_KEY=    # Generate with Aztec CLI: `aztec generate-p2p-private-key`
PUBLIC_IP=1.2.3.4
SEQ_PUBLISHER_PRIVATE_KEY=0x... # Can be same as VALIDATOR_PRIVATE_KEY
VALIDATOR_PRIVATE_KEY=0x...
