name: Aztec Network Deployment

on:
  workflow_call:
    inputs:
      cluster:
        description: The cluster to deploy to, e.g. aztec-gke-private
        required: true
        type: string
      namespace:
        description: The namespace to deploy to, e.g. smoke
        required: true
        type: string
      values_file:
        description: The values file to use, e.g. 1-validators.yaml
        required: true
        type: string
      aztec_docker_image:
        description: The Aztec Docker image to use, e.g. aztecprotocol/aztec:da809c58290f9590836f45ec59376cbf04d3c4ce-x86_64
        required: true
        type: string
      mnemonic_secret_name:
        description: The name of the secret which holds the boot node's contract deployment mnemonic
        required: false
        type: string
        default: testnet-deployment-mnemonic
      respect_tf_lock:
        description: Whether to respect the Terraform lock
        required: false
        type: string
        default: "true"
      run_terraform_destroy:
        description: Whether to run terraform destroy before deploying
        required: false
        type: string
        default: "false"
      ref:
        description: The branch name to deploy from
        required: false
        type: string
        default: "master"
    secrets:
      GCP_SA_KEY:
        required: true
  workflow_dispatch:
    inputs:
      cluster:
        description: The cluster to deploy to, e.g. aztec-gke-private
        required: true
        type: string
      namespace:
        description: The namespace to deploy to, e.g. smoke
        required: true
      values_file:
        description: The values file to use, e.g. 1-validators.yaml
        required: true
      aztec_docker_image:
        description: The Aztec Docker image to use, e.g. aztecprotocol/aztec:da809c58290f9590836f45ec59376cbf04d3c4ce-x86_64
        required: true
      mnemonic_secret_name:
        description: The name of the secret which holds the boot node's contract deployment mnemonic
        required: false
        default: testnet-deployment-mnemonic
      run_terraform_destroy:
        description: Whether to run terraform destroy before deploying
        required: false
        type: string
        default: "false"

jobs:
  network_deployment:
    # This job will run on Ubuntu
    runs-on: ubuntu-latest
    concurrency:
      group: deploy-${{ github.ref }} # Only one job per branch
      cancel-in-progress: false # Allow previous deployment to complete to avoid corruption

    # Set up a variable based on the branch name
    env:
      AZTEC_DOCKER_IMAGE: ${{ inputs.aztec_docker_image }}
      NAMESPACE: ${{ inputs.namespace }}
      METRICS_NAMESPACE: "metrics"
      VALUES_FILE: ${{ inputs.values_file }}
      MNEMONIC_SECRET_NAME: ${{ inputs.mnemonic_secret_name }}
      CHART_PATH: ./spartan/aztec-prover-stack
      CLUSTER_NAME: ${{ inputs.cluster }}
      REGION: us-west1-a
      TF_STATE_BUCKET: aztec-terraform
      GKE_CLUSTER_CONTEXT: "gke_testnet-440309_us-west1-a_${{ inputs.cluster }}"
      GCP_API_KEY_HEADER: "X-goog-api-key"
      EXTERNAL_ETHEREUM_HOSTS: "https://json-rpc.${{ secrets.GCP_SEPOLIA_URL }}?key=${{ secrets.GCP_SEPOLIA_API_KEY }},${{ secrets.INFURA_SEPOLIA_URL }}"
      EXTERNAL_ETHEREUM_CONSENSUS_HOST: "https://beacon.${{ secrets.GCP_SEPOLIA_URL }}"
      RESPECT_TF_LOCK: ${{ inputs.respect_tf_lock || 'true' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref || github.ref }}

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Install GKE Auth Plugin
        run: |
          gcloud components install gke-gcloud-auth-plugin --quiet

      - name: Configure kubectl with GKE cluster
        run: |
          gcloud container clusters get-credentials ${{ env.CLUSTER_NAME }} --region ${{ env.REGION }}

      - name: Ensure Terraform state bucket exists
        run: |
          if ! gsutil ls gs://${{ env.TF_STATE_BUCKET }} >/dev/null 2>&1; then
            echo "Creating GCS bucket for Terraform state..."
            gsutil mb -l us-east4 gs://${{ env.TF_STATE_BUCKET }}
            gsutil versioning set on gs://${{ env.TF_STATE_BUCKET }}
          else
            echo "Terraform state bucket already exists"
          fi

      - name: Grab the deployment mnemonic
        id: get-mnemonic
        run: |
          echo "::add-mask::$(gcloud secrets versions access latest --secret=${{ env.MNEMONIC_SECRET_NAME }})"
          echo "mnemonic=$(gcloud secrets versions access latest --secret=${{ env.MNEMONIC_SECRET_NAME }})" >> "$GITHUB_OUTPUT"

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: "1.5.0" # Specify your desired version

      - name: Terraform Init
        working-directory: ./spartan/terraform/deploy-release
        run: |
          terraform init \
            -backend-config="bucket=${{ env.TF_STATE_BUCKET }}" \
            -backend-config="prefix=network-deploy/${{ env.REGION }}/${{ env.CLUSTER_NAME }}/${{ env.NAMESPACE }}/terraform.tfstate"

      - name: Terraform Destroy
        working-directory: ./spartan/terraform/deploy-release
        if: ${{ inputs.run_terraform_destroy == 'true' }}
        # Destroy fails if the resources are already destroyed, so we continue on error
        continue-on-error: true
        run: |
          terraform destroy -auto-approve \
            --target "helm_release.aztec-prover-stack" \
            -var="RELEASE_NAME=${{ env.NAMESPACE }}" \
            -var="VALUES_FILE=${{ env.VALUES_FILE }}" \
            -var="GKE_CLUSTER_CONTEXT=${{ env.GKE_CLUSTER_CONTEXT }}" \
            -var="AZTEC_DOCKER_IMAGE=${{ env.AZTEC_DOCKER_IMAGE }}" \
            -var="L1_DEPLOYMENT_MNEMONIC=${{ steps.get-mnemonic.outputs.mnemonic }}" \
            -var="EXTERNAL_ETHEREUM_HOSTS=${{ env.EXTERNAL_ETHEREUM_HOSTS }}" \
            -var="EXTERNAL_ETHEREUM_CONSENSUS_HOST=${{ env.EXTERNAL_ETHEREUM_CONSENSUS_HOST }}" \
            -var="EXTERNAL_ETHEREUM_CONSENSUS_HOST_API_KEY=${{ secrets.GCP_SEPOLIA_API_KEY }}" \
            -var="EXTERNAL_ETHEREUM_CONSENSUS_HOST_API_KEY_HEADER=${{ env.GCP_API_KEY_HEADER }}" \
            -lock=${{ env.RESPECT_TF_LOCK }}

          kubectl delete ns ${{env.NAMESPACE}}

      - name: Terraform Plan
        working-directory: ./spartan/terraform/deploy-release
        run: |
          terraform plan \
            --target "helm_release.aztec-prover-stack" \
            -var="RELEASE_NAME=${{ env.NAMESPACE }}" \
            -var="VALUES_FILE=${{ env.VALUES_FILE }}" \
            -var="GKE_CLUSTER_CONTEXT=${{ env.GKE_CLUSTER_CONTEXT }}" \
            -var="AZTEC_DOCKER_IMAGE=${{ env.AZTEC_DOCKER_IMAGE }}" \
            -var="L1_DEPLOYMENT_MNEMONIC=${{ steps.get-mnemonic.outputs.mnemonic }}" \
            -var="EXTERNAL_ETHEREUM_HOSTS=${{ env.EXTERNAL_ETHEREUM_HOSTS }}" \
            -var="EXTERNAL_ETHEREUM_CONSENSUS_HOST=${{ env.EXTERNAL_ETHEREUM_CONSENSUS_HOST }}" \
            -var="EXTERNAL_ETHEREUM_CONSENSUS_HOST_API_KEY=${{ secrets.GCP_SEPOLIA_API_KEY }}" \
            -var="EXTERNAL_ETHEREUM_CONSENSUS_HOST_API_KEY_HEADER=${{ env.GCP_API_KEY_HEADER }}" \
            -var="METRICS_NAMESPACE=${{ env.METRICS_NAMESPACE }}" \
            -out=tfplan \
            -lock=${{ env.RESPECT_TF_LOCK }}

      - name: Terraform Apply
        working-directory: ./spartan/terraform/deploy-release
        run: terraform apply -lock=${{ env.RESPECT_TF_LOCK }} -auto-approve tfplan
