name: Nightly masternet deploy
on:
  schedule:
    # Run the workflow every night at 2:00 AM UTC.
    - cron: "0 2 * * *"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  get-latest-commit:
    runs-on: ubuntu-latest
    outputs:
      commit: ${{ steps.get_commit.outputs.COMMIT }}

    steps:
      - uses: actions/checkout@v4

      - name: Get latest published commit
        id: get_commit
        run: |
          COMMIT=$(curl -s https://registry.hub.docker.com/v2/repositories/aztecprotocol/aztec/tags/master | jq ".digest" | tr -d '"')
          echo "COMMIT=$COMMIT" >> $GITHUB_OUTPUT

  deploy-network:
    needs: get-latest-commit
    uses: ./.github/workflows/network-deploy.yml
    with:
      ref: master
      cluster: aztec-gke-private
      namespace: master-rc-1
      values_file: rc-1.yaml
      aztec_docker_image: aztecprotocol/aztec@${{ needs.get-latest-commit.outputs.commit }}
      deployment_mnemonic_secret_name: junk-mnemonic
      respect_tf_lock: "false"
      run_terraform_destroy: "true"
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

  # deploy-network-exp:
  #   needs: get-latest-commit
  #   uses: ./.github/workflows/network-deploy.yml
  #   with:
  #     ref: master
  #     cluster: aztec-gke-private
  #     namespace: master-exp-2
  #     values_file: exp-2.yaml
  #     aztec_docker_image: aztecprotocol/aztec@${{ needs.get-latest-commit.outputs.commit }}
  #     deployment_mnemonic_secret_name: junk-mnemonic
  #     respect_tf_lock: "false"
  #     run_terraform_destroy: "true"
  #   secrets:
  #     GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
